*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursiva;
    font-size: 20px;
    overflow-x: hidden;
}

header{
    height: 120px;
    background-color: #a88d7c;
    color: #ffff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
    
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.menu ul, 
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    

}

.menu li a:hover{
    height: 80px;
    margin-top: 10px;
    border-bottom: 3px 3px #a88d7c;
    background-color: #f7f7f7;
    border-radius: 20px;
    color: #a88d7c;
}

.logoimg img{
    width: 250px;
    height: 100px;
    margin-top: 30px;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #333;
    
    
    
}

.banner {
    height: 120vh;
    background-color: #333;
    background-image: url('images/capa.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;

}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;

}

.default{
    background-color: red;
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
}

.default .section-title{
    font-size: 20px;
    font-weight: 600;
}

.default .section-desc{
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;

}

.default .sections-body{
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
    
}

.default.light{
    background-color: #f7f7f7;

}

.default.light .section-title{
    color: #000;

}

.default.dark{
    background-color: #a88d7c;
}

.default.dark .section-title{
    color: #fff;
}

.button{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #a88d7c;
    color: #f7f7f7;

}



.section-aboutus{
    display: flex;
}

.section-aboutus-left{
    flex: 1;
}

.section-aboutus-left p{
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus-right{
    width: 520px;
    text-align: center;
}

.section-aboutus-right img{
    width: 100%;
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services{
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 2px solid #333;
    padding: 15px;

}

.section-service img {
    background-color: #f7f7f7;
    padding: 10px;
    box-shadow: 0px 5px 5px #333;
    border-radius: 5px;
}

.section-service:first-child{
    border-left: 2px solid #333;
}

.section-service h4{
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px;

}

.section-service p{
    color: #fff;
    margin-top: 10px;
    font-size: 13px;

}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #a88d7c;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    box-shadow: 2px 2px 2px rgb(26, 25, 25);

}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    border-left: 1px solid #fff;
    color: #fff;
    border-radius: 3px solid #eee;
}

.section-projects--filters li:hover{
    border-bottom: 8px solid #fff;
}

.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 350px;
}

.section-projects--photoarea{
    margin: 20px;
    width: 290px;
    height: 200px;

  
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    box-shadow: 0px 5px 7px #333;
   
}

.section-project--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 15px;

}

.section-project--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-project--photoinfo{
    display: flex;
}

.banner-2 {
    height: 120vh;
    background-color: #333;
    background-image: url('images/banner2.png');
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.section-map{
    background-image: url('images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-map--area{
    width: 100vw;
    max-width: 1140vw;
    margin: auto;
   
}

.section-map--info{
    width: 50%;
    padding: 30px;
    margin-left: 30px;
    background-color: #fff;
    color: #000;
}

.section-map--info-item{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}

.section-map--info-item-img{
    width: 30px;
    height: 30px;
    background-color: #999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    margin-right: 15px;
}

.section-map--info-item-img img{
    width: 15px;
    height: auto;
}

footer{
    width: 100vw;
    height: 370px;
    background-color: #a88d7c;
    display: flex;
}

.redes{
    background-color: purple;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    margin-top: 280px;
    border-radius: 20px;

}

.redetotal{
    margin-left: 40px;
    
}

.redes img{
    margin-right: 3px;
    height: 15px;
    width: 12px;
    align-items: center;
    
}

.redes:hover{
   background-color: #000;
}

.texto-footer{
    margin-top: 140px;
    margin-left: 430px;
}

.texto-footer h4{
    font-style: inherit;
    color: #f7f7f7;
    font-weight: bolder;
}

.formulario{
    background-color: blueviolet;
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px #333;
}

.formulario input{
    margin-top: 2px;
    margin-left: 20px;
    border-radius: 5px;
    width: 14vw;
}

.formulario h3{
    color: white; 
    margin-left: 50px;
}

.formulario h5{
    color: #f7f7f7;
    margin-left: 20px;
    margin-top: 3px;
    font-size: medium;
}

.input-text{
    height: 100px;
}

button{
    background-color: #a88d7c;
    color: #f7f7f7;
    border-radius: 8px;
    width: 50px;
    box-shadow: 2px 2px 2px #333;
    border: #a88d7c;
    margin-left: 20px;
    margin-top: 10px;
}

.menu-opener{
    display: none;
}

/* RESPONSIVIDADE DO SITE */

@media (min-width:450px) and (max-width: 800px){

   nav{
       position: absolute;
       z-index: 99;
       width: 55px;
       height: 60px;
       margin-right: 30px;
       top: 2px;
       right: 0;
       flex: wrap;
       background-image: url('images/menu.png');

   }
   
   menu ul{
       flex-direction: column;
     
   }

   .menu li a{
       
     display: none;
       
   }

   
   .logo{
       margin-left: 10px;
   }

   .banner {
    height: 45vh;
    background-color: #333;
    background-image: url('images/capa.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

   
   .section-aboutus{
       flex-direction: column;
   }

   .section-aboutus-left{
       margin-left: 30px;
       margin-right: 30px;
       margin-bottom: 30px;
   }

   .section-aboutus-right{
       width: auto;
       margin-bottom: 20px;
   }

   .section-projects--filters{
      border: 1px solid #ccc;
      background-color: #a88d7c;
      border-radius: 30px;
      display: inline-block;
      padding: 0px 2px  5px 10px;
      box-shadow: 2px 2px 2px rgb(26, 25, 25);
      width: 90vw;
      height: 40px;

   }

   .section-projects--filters li{
    display: inline-block;
    padding: 16px;
    text-transform: uppercase;
    font-size: 12px;
    border-left: 1px solid #fff;
    color: #fff;
    border-radius: 3px solid #eee;
}

   .section-services{
       flex-wrap: wrap;
   }

   .section-service{
       min-width: 50%;
       margin-bottom: 30px;
       border-right: 0;
   }

   .section-service:first-child{
       border-left: 0;
   }

   .section-map--info{
       width: auto;
   }

   .section-map{
       padding-left: 30px;
       padding-right: 30px;
   }

   .section-map--area{
       width: auto;;
   }

   .section-map--info-item{
       margin-bottom: 20px;
     
   }

   .section-map--info-item:last-child{
       margin-bottom: 0;
   }

   .banner-2 {
    height: 50vh;
    background-color: #333;
    background-image: url('images/banner2.png');
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

footer{
    width: 100vw;
    height: 370px;
    background-color: #a88d7c;
    display: flex;
}

.redes{
    background-color: purple;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    margin-top: 30px;
    border-radius: 20px;
    flex-direction: row;

}

.redetotal{
    margin-top: 50px;
    
}

.redes img{

    height: 15px;
    width: 12px;
    align-items: center;
    
}

.redes:hover{
   background-color: #000;
}

.texto-footer{
    margin-bottom: 100px;
    margin-left: 50px;
}

.texto-footer h4{
    font-style: inherit;
    color: #f7f7f7;
    font-weight: bolder;
    font-size: x-small;
    margin-left: 3px;
    margin-bottom: 100px;
}

.formulario{
    background-color: blueviolet;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px #333;
}

.formulario input{
    margin-top: 2px;
    margin-left: 20px;
    border-radius: 5px;
    width: 25vw;
}

.formulario h3{
    color: white; 
    margin-left: 50px;
}

.formulario h5{
    color: #f7f7f7;
    margin-left: 20px;
    margin-top: 3px;
    font-size: medium;
}

.input-text{
    height: 100px;
    
}

button{
    background-color: #a88d7c;
    color: #f7f7f7;
    border-radius: 8px;
    width: 50px;
    box-shadow: 2px 2px 2px #333;
    border: #a88d7c;
    margin-left: 20px;
    margin-top: 10px;
}


}

@media (max-width:412px){
    nav{
        display: none;
        position: absolute;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu li a{
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #b28756;
    }
    
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    .logo{
        margin-left: 30px;
    }

    .section-aboutus{
        flex-direction: column;
    }
    
    .section-aboutus-left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}